<div>
    <div class="contact-info">
        <div class="container">
            <div class="row">
                <h1>Contact us</h1>
                <h3>Cinema Manager team</h3>
                <div id="map"></div>
                <p>Example Street 7, Example city, US</p>
                <p>777-777-777</p>
                <p>cinemamanager@example.com</p>
            </div>
        </div>

    </div>
</div>