<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>
                    <span>Welcome to the Cinema Manager</span>
                </h2>
                <p>See a good movie. Buy your tickets today. Fun guaranteed.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Browse Films</h2>
            <p>
                There are plenty of great movies, which you just might want to see. Take a look at our collection, and
                find
                something for yourself.
            </p>
            <p>
                <a class="btn btn-default" href="#/movies">Browse Movies</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Reserve your tickets</h2>
            <p>Don't waste any more of your precious time. We appriciate you and want to make thing easy for you. Take a
                look at available screenings, and pick a date to see a nice movie. </p>
            <p>
                <a class="btn btn-default" href="#/screenings">See screenings</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Needs some assistance?</h2>
            <p>If you have any question, feel free to ask. We will surely get you the best customer service you
                need.</p>
            <p>
                <a class="btn btn-default" href="#/contact">Contact Us</a>
            </p>
        </div>
    </div>
</div>