<div>


    <div class="register">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <form>
                        <div class="form-group" role="form">
                            <label for="email">Email address:</label>
                            <input type="text" id="email" class="form-control" placeholder="Username"
                                   data-ng-model="loginData.userName" required autofocus/>
                            <label for="password">Password:</label>
                            <input type="password" id="password" type="password" class="form-control"
                                   placeholder="Password" data-ng-model="loginData.password" required/>
                        </div>
                        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login
                        </button>
                        <div data-ng-hide="message == ''" class="alert alert-danger">
                            {{message}}
                        </div>
                    </form>
                </div>


            </div>
        </div>

    </div>
</div>