<div class="movies">
    <div class="container">
        <input type="text" ng-model="filter"></input>

        <div class="row" ng-repeat="movie in movies | filter:{title: filter}">
            <div class="col-md-3">
                <img class="img-responsive" ng-src="{{movie.poster}}"/>
            </div>

            <div class="col-md-6">
                <h1 class="title">{{movie.title}}</h1>

                <h3 class="subtitle">{{movie.shortDescription}}</h3>

                <p>{{movie.description}} </p>
            </div>

            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>Date:</span> {{movie.date | date}}
                    </li>
                    <li class="list-group-item">
                        <span>Time:</span> {{movie.duration}}
                    </li>
                    <li class="list-group-item">
                        <span>Genre:</span> {{movie.genres}}
                    </li>
                    <li class="list-group-item">
                        <span>Stars:</span> {{movie.stars}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>