<div>


    <div class="register">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="text" id="email" class="form-control" placeholder="Username" data-ng-model="registration.Email" required autofocus/>
                            <label for="password">Password:</label>
                            <input type="password" id="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required/>
                            <label for="repeatPassword">Repeat password:</label>
                            <input type="password" id="repeatPassword" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required/>
                        </div>
                        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
                        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                            {{message}}
                        </div>
                    </form>
                </div>


            </div>
        </div>

    </div>
</div>