<div>

    <div class="screenings">
        <div class="container">
            <h1>23-12-2015</h1>

            <div class="row">
                <div ng-repeat="screening in screenings">
                    <div class="clearfix" ng-if="$index % 4 == 0"></div>
                    <div class="col-md-3">
                        <div class="screening">
                            <h3>{{screening.title}}</h3>
                            <img class="img-responsive"
                                 ng-src="{{screening.poster}}"/>
                            <ul>
                                <li ng-repeat="datetime in screening.datetimes track by $index">
                                    <a class="hour" href="#/select_seat">{{datetime | date: 'HH:mm'}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>