<div>

    <div class="select-seat">
        <div class="container">

            <div class="row"><h1 class="pull-left">Select seat</h1></div>

            <div class="select-seat-row">
                <div class="row">
                    <div class="col-md-12">

                        <a class="seat" href="" ng-repeat="n in [].constructor(280) track by $index">{{$index + 1}}</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <a class="btn btn-default pull-right" href="/index">Proceed</a>
                </div>
            </div>
        </div>
    </div>

</div>