<div>


    <div class="tickets">
        <div class="container">
            <h1>Your tickets</h1>
            <div class="row">
                <div ng-repeat="ticket in tickets">
                    <div class="clearfix" ng-if="$index % 2 == 0"></div>
                    <div class="col-md-6">
                        <div class="cardWrap">
                            <div class="card cardLeft">
                                <h1>Cinema <span>Manager</span></h1>
                                <div class="title">
                                    <h2>{{ticket.title}}</h2>
                                    <span>movie</span>
                                </div>
                                <div class="name">
                                    <h2>{{ticket.name + " " + ticket.surname}}</h2>
                                    <span>name</span>
                                </div>
                                <div class="seat">
                                    <h2>{{ticket.seat}}</h2>
                                    <span>seat</span>
                                </div>
                                <div class="time">
                                    <h2>{{ticket.datetime | date: 'HH:mm'}}</h2>
                                    <span>time</span>
                                </div>
                                <div class="time">
                                    <h2>{{ticket.datetime | date: 'dd-MM-yyyy'}}</h2>
                                    <span>date</span>
                                </div>

                            </div>
                            <div class="card cardRight">
                                <div class="eye"></div>
                                <div class="number">
                                    <h3>{{ticket.seat}}</h3>
                                    <span>seat</span>
                                </div>
                                <div class="barcode"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>