@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  background-color: #FFFDF9;
  font-size: 14px;
}

/*HEADER*/
.header {
  background: #152230;
  min-height: 80px;
  padding: 30px 0 20px 0;
}

.header .logo {
  margin: 30px 0 0 0;
  font-size: 40px;
  text-transform: none;
  text-decoration: none;
  color: #f0f0f0;
}

/*MENU*/
.menu {
  background: #095BB2;
  min-height: 40px;
}

.menu ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul.nav li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.menu ul.nav li:hover, .menu ul.nav li.active {
  background: #1A88FF;
}

.menu ul.nav li a {
  color: #fff;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
}

.menu ul.nav li a:hover {
  background: transparent;
}

/*MAIN*/
.main {
  background-size: cover;
  background: black url(../images/Cinema.jpg) no-repeat left 0 top -200px;
  background-size: cover;
  height: 500px;
}

@media (max-width: 1200px) {
  .main {
    background: black url(../images/Cinema.jpg) no-repeat left 0;
  }
}

.main .container .col-md-5 {
  padding: 40px;
}

.main .container .col-md-5 h2 {
  color: #fff;
  font-size: 60px;
  margin: 20px 0;
}

.main .container .col-md-5 h2 span {
  border-bottom: 5px solid #095BB2;
}

.main .container .col-md-5 p {
  color: #fff;
  font-size: 20px;
}

.contact-info {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
}

.contact-info p:first-of-type {
  margin-top: 50px;
  font-size: 20px;
}

.register {
  margin: 50px 0;
  text-align: center;
}

.register form {
  width: 75%;
  display: block;
  margin: 0 auto;
}

input {
  margin: 20px 0;
  padding: 0 10px;
  display: block;
  height: 44px;
  border: 1px solid #cecece;
  box-shadow: 0 0 10px #cecece;
  width: 100%;
}

.register label {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.select-seat {
  margin: 50px 0;
  text-align: center;
}

.select-seat .select-seat-row {
  margin: 10px;
}

.select-seat .seat {
  font-size: 20px;
  border: 1px solid #303030;
  padding: 8px;
  margin: 5px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: black;
  background-color: greenyellow;
  box-shadow: 0px 0px 10px #888888;
}

.select-seat .seat:hover {
  background-color: orangered;
}

/*MOVIES*/
.movies .row {
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
}

.movies .row:last-of-type {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
}

.movies .row .title {
  color: #1A88FF;
}

.movies .row .subtitle {
  text-transform: uppercase;
  color: #152230;
}

.movies img, .movies .list-group {
  margin-top: 20px;
}

.movies ul li {
  color: #152230;
  border: 1px solid #1A88FF;
}

.movies p {
  line-height: 1.6;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
  font-size: 14px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}

.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item span {
  color: #1A88FF;
  padding: 0 10px 0 0;
}

/*SCREENINGS*/
.screenings {
  margin-bottom: 50px;
}

.screening {
  text-align: center;
  border: 1px solid #e0e0e0;
  box-shadow: 5px 5px 20px #888888;
  margin: 15px 0;
  padding: 10px;
  height: 500px;
}

.screening h3 {
  margin: 5px 0;
}

.screening img {
  margin: 0 auto;
  display: block;
  height: 380px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .screening {
    height: 365px;
  }
  .screening img {
    height: 250px;
  }
}

.screening ul li {
  margin-top: 5px;
  margin-right: 3px;
}

.screening .hour {
  text-decoration: none;
  border: 1px solid #e0e0e0;
  padding: 2px 5px;
}

.screening .hour:hover {
  background: #94CDFF;
  color: #2426CC;
}

.screening ul {
  margin: 10px 0;
  list-style: none;
  border: none;
  padding: 0;
}

.screening ul li {
  border: none;
  display: inline-block;
}

/*FOOTER*/
.footer {
  background: #152230;
  padding: 40px 0;
}

.footer ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  color: #fff;
  display: inline;
  margin: 0 40px 0 0;
}

.footer p {
  color: #e2e2e2;
  float: right;
}

.col-md-12 img {
  width: 100%;
}

@media (max-width: 600px) {
  .menu .container {
    padding: 0;
  }
  .header {
    text-align: center;
  }
  .search {
    margin-bottom: 20px;
    width: 100%;
  }
  .menu ul.nav li {
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }
  .main .container .col-md-5 h2 {
    font-size: 40px;
  }
  .footer p, .footer ul {
    float: none;
    margin: 0 0 20px;
    width: 100%;
  }
}

#map {
  width: 80%;
  height: 400px;
  margin-top: 50px;
}

.tickets {
  margin-top: 50px;
}

.tickets .cardWrap {
  width: 33em;
  margin: 0 auto;
  color: #fff;
  font-family: sans-serif;
}

.tickets .card {
  background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%);
  height: 14em;
  float: left;
  position: relative;
  padding: 1em;
  margin-bottom: 50px;
}

.tickets .cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 20em;
}

@media (orientation: portrait) and (max-width: 1000px) {
  .tickets .cardLeft {
    width: 14em;
  }
}

.tickets .cardRight {
  width: 9.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tickets .cardRight:before, .tickets .cardRight:after {
  content: "";
  position: absolute;
  display: block;
  width: .9em;
  height: .9em;
  background: #fff;
  border-radius: 50%;
  left: -.5em;
}

.tickets .cardRight:before {
  top: -.4em;
}

.tickets .cardRight:after {
  bottom: -.4em;
}

.tickets .card h1 {
  font-size: 1.1em;
  margin-top: 0;
}

.tickets .card h1 span {
  font-weight: normal;
}

.tickets .title, .tickets .name, .tickets .seat, .tickets .time {
  text-transform: uppercase;
  font-weight: normal;
}

.tickets .title h2, .tickets .name h2, .tickets .seat h2, .tickets .time h2 {
  font-size: .9em;
  color: #525252;
  margin: 0;
}

.tickets .title span, .tickets .name span, .tickets .seat span, .tickets .time span {
  font-size: .7em;
  color: #a2aeae;
}

.tickets .title {
  margin: 2em 0 0 0;
}

.tickets .name, .tickets .seat {
  margin: .7em 0 0 0;
}

.tickets .time {
  margin: .7em 0 0 1em;
}

.tickets .seat, .tickets .time {
  float: left;
}

.tickets .eye {
  position: relative;
  width: 2em;
  height: 1.5em;
  background: #fff;
  margin: 0 auto;
  border-radius: 1em/0.6em;
  z-index: 1;
}

.tickets .eye:before, .tickets .eye:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.tickets .eye:before {
  width: 1em;
  height: 1em;
  background: #e84c3d;
  z-index: 2;
  left: 8px;
  top: 4px;
}

.tickets .eye:after {
  width: .5em;
  height: .5em;
  background: #fff;
  z-index: 3;
  left: 12px;
  top: 8px;
}

.tickets .number {
  text-align: center;
  text-transform: uppercase;
}

.tickets .number h3 {
  color: #e84c3d;
  margin: .9em 0 0 0;
  font-size: 2.5em;
}

.tickets .number span {
  display: block;
  color: #a2aeae;
}

.tickets .barcode {
  height: 2em;
  width: 0;
  margin: 1.2em 0 0 .8em;
  box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
}
