<!doctype html>
<html ng-app="cinemaManagerApp">
<head>
    <meta charset="utf-8">
    <title>CinemaManager webapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="bower_components/angular/angular.js"></script>


</head>
<body>

<div class="header">
    <div class="container">
        <a class="logo" ng-href="/">Cinema Manager</a>
    </div>
</div>

<div class="menu" data-ng-controller="IndexController">
    <div class="container">
        <ul class="nav navbar-left">
            <li><a class="active" ng-href="#/">Home</a></li>
            <li><a ng-href="#/movies">Movies</a></li>
            <li><a ng-href="#/screenings">Screenings</a></li>
            <li><a ng-href="#/contact" ng-click="initalize()">Contact Us</a></li>

        </ul>
        <ul class="nav navbar-right" data-collapse="!navbarExpanded">
            <li data-ng-hide="!authentication.isAuth"><a href="#/">Welcome {{authentication.userName}}</a></li>
            <li data-ng-hide="!authentication.isAuth"><a href="#/tickets">My Tickets</a></li>
            <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
            <li data-ng-hide="authentication.isAuth"><a href="#/login">Login</a></li>
            <li data-ng-hide="authentication.isAuth"><a href="#/register">Sign Up</a></li>
        </ul>
		<div>
		</div>
    </div>
</div>

<div ng-view>

</div>

<div class="footer">
    <div class="container">
        <ul>
            <li>About</li>
            <li>Terms</li>
            <li>Send Feedback</li>
        </ul>
        <p>© 2015 CinemaManager Team</p>
    </div>
</div>


<script src="bower_components/jquery/dist/jquery.js"></script>

<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="scripts/app.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>

</body>
</html>
